@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
:root {
    background-color: #f3cb47;
}
*{
    margin: 0;
    padding: 0;
}
::selection{
    background-color: white;
    color: #ab39d3;
}
body{
    width: 100vw;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body *{
    transition: all 0.3s cubic-bezier(0.315,0.610,0.355,1);
}

a{
    text-decoration: none;
    font-weight: 800;
    font-size: 200%;
}
nav{
    text-transform: uppercase;
    width: 100%;
    padding: 50px 150px 50px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    top: 0;
    position: absolute;
}
nav #logo{
    font-size: 27px;
    font-weight: 600;
    color: #ab39d3;
}

nav #logo span{
    font-weight: 800;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

nav ul li{
    list-style-type:none;
    font-size: 20px;
    color: black;
    font-weight: 700;
    letter-spacing: -1px;
    word-spacing: -20px;
    cursor: pointer;
    padding: 10px 40px;
}

nav ul li:hover {
    color: #ab39d3;
}
nav li #underline{
    color: #ab39d3;
    border-bottom: 4px solid #ab39d3;
}

nav ul button{
    text-transform: uppercase;
    font-size: 19px;
    color: white;
    font-weight: 700;
    width: 100px;
    padding: 50px;
    border: none;
    border-radius: 20px;
    background-color: #ab39d3;
    cursor: pointer;
}
nav ul button:hover{
    background-color: #ab39d3;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.startContent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box;
    z-index: 5;
}

.startContent img{
    margin-top: 50px;
    height: 600px;
}
.startContent .text{
    width: 500px;
    padding: 0 60px;
}
.startContent .text h1{
    width: 70%;
    font-size: 50px;
    font-weight: 300;
    line-height: 70px;
    color: #ab39d3;
}
.startContent .text h1 span{
    font-size: 50px;
    text-transform: uppercase;
}
.startContent .text h1 span{
    font-weight: 500;
}

.startContent .text p{
    width: 95%;
}

.startContent .text button{
    font-size: 16px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    width: 130px;
    letter-spacing: -0.5px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: 15px 0;
    background-color: #ab39d3;
    cursor: pointer;
}

.startContent .text button:hover{
    background-color: #d73b7c;
}

.wave1{
    margin-top: -14%;
}

.wave2{
    margin-top: -20%;
}